#!/bin/sh

{{ includeTemplate "brew_load" . }}

# https://github.com/Homebrew/homebrew-bundle
brew update
brew bundle --verbose --no-lock --file=/dev/stdin <<EOF
{{ includeTemplate "brewfile" . }}
EOF

grep -rne "brew shellenv" ~/.bashrc > /dev/null || \
    echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bashrc

gem install colorls