#!/bin/bash

{{- if eq .chezmoi.os "darwin" -}}
xcode-select --install
{{- else if eq .chezmoi.osRelease.id "ubuntu" }}
apt-get install -y git
{{- end }}

if ! command -v brew > /dev/null; then
    NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi