#!/bin/sh

{{ includeTemplate "brew_load" . }}

# https://github.com/Homebrew/homebrew-bundle
brew update
brew install {{ join " " $.install.brew }}

if [ -f ~/.bashrc ]; then
    grep -rne "brew shellenv" ~/.bashrc > /dev/null || \
        echo "eval \"\$($(brew --prefix)/bin/brew shellenv)\"" >> ~/.bashrc
fi